* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", Helvetica Neue, sans-serif;
}

li {
    list-style: none;
}

a {
    color: inherit;
}

img {
    max-width: 100%;
}

/* HEADER */

header {
    height: 80px;
}


h1 {
    font-family: "Nerko One", cursive;
    color: #ff9614;
    text-align: center;
    font-size: 40px;
    padding: 20px 0;
}

/* REGOLE MAIN */

main {
    display: flex;
    justify-content: center;
    background-color: #f6f5f3;
}

.container {
    padding: 15px;
}

/* section ricetta */

.ricetta {
    width: 100%;
}

h2 {
    color: #4e3969;
    padding: 20px 0;
}

h4 {
    font-weight: bold;
    padding-bottom: 20px;
}

h5 {
    color: #a599a1;
    padding-top: 10px;
}

.plus {
    display: none;
}

.col-info {
    background-color: white;
    padding: 20px;
}

.info-cont div {
    padding: 10px 0;
}

.info-cont span {
    font-weight: bold;
}

/* sezione social */

.socials {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.socials span {
    display: none;
}

.social {
    padding: 15px;
    background-color: white;
    border-radius: 20px;
}

#fb {
    color: #1a77f3;
}

#tw {
    color: #009eff;
}

#inst {
    color: #df4c83;
}

#pint {
    color: #e62222;
}

#yout {
    color: #e62222;
}

/* sezione presentazione */

h3 {
    margin: 20px 0;
}

.border {
    width: 10%;
    height: 2px;
    background-color: #f7972e;
    margin-bottom: 15px;
}

.presentation img {
    width: 80%;
    display: block;
    text-align: center;
    margin: 10px auto;
}

.presentation span {
    font-weight: bold;
}

.presentation p {
    line-height: 1.5;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7c69a4;
    color: white;
}

.foot-cont {
    width: 75%;
    padding: 20px 0;
}

.col footer,
.col-nav footer {
    width: 40%;
}

.col div {
    text-align: center;
    margin: 10px 0;
}

.col-nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

ul li {
    width: 22%;
    padding: 15px 0;
}

/*************************************************
    VERSIONE TABLET (sopra i 768px)
 *************************************************/

@media screen and (min-width:768px) {

    /* HEADER */

    h1 {
        padding-left: 10px;
        text-align: left;
    }

    /* REGOLE MAIN */

    /* section ricetta */

    h2 {
        font-size: 2rem;
        padding: 1.5rem 0;
    }

    h5 {
        padding: 1.5rem 0;
    }

    .plus {
        display: inline;
    }

    .col-img img {
        width: 100%; 
        /* height: auto; 
        display: block; */
    }

    .info-cont {
        display: flex;
        flex-wrap: wrap;
        gap: 0 10px;
        padding: 1.5rem 0;
    }

    .info-cont div {
        width: 32%;
    }

    /* sezione social */

    .social {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 50px;
    }

    /* sezione presentazione */

    h3 {
        padding: 1.5rem 0;
    }

    .presentation img {
        width: 50%;
        margin: 0;
    }

    .presentation p img {
        float: left;
        margin-right: 10px;
    }

    .clearfix::after {
        display: table;
        content: "";
        clear: both;

    }

}

/*************************************************
    VERSIONE DESKTOP (sopra i 992px)
  *************************************************/

@media screen and (min-width:992px) {

    /* REGOLE MAIN */

    .container {
        width: 80%;
    }

    /* section ricetta */

    h2 {
        font-size: 2.5rem;
    }

    .ricetta .row {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    .col-img {
        width: 70%;
    }

    .col-info {
        width: 30%;
    }

    .info-cont {
        display: block;
    }

    .info-cont div {
        width: 100%;
    }

    /* sezione social */

    .socials span {
        display: inline;
    }

    /* FOOTER */

    .foot-cont {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .col div {
        text-align: left;
        margin: 10px 0;
    }

    .foot-cont {
        width: 100%;
        padding: 20px 10px;
    }

    .col-nav ul {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
    }

}